.navbar {
    background-color: #090979;
    /* border-color: green; */
    padding-bottom: 1.3rem;
}
.navbar a {
  color: white;
}
.navbar a:hover{
  color:red;
}
.dropdown-menu.show{
  background-color:#090979;
}
